

//
// Home
//

.main-docs{
  background-color: #4e0465;
  color: white;
  .jumbotron{
    background-color: #4e0465;
    margin-bottom: 0;
  }
  .logo-docs{
    width: 100%;
  }
  .dcs1{
    font-weight: lighter;
  }
  .dcs2{
    font-weight: lighter;
    line-height: 38px;
  }
}